@model Cars
@foreach(var car in Model.carDpo)
{

    <h3>@car.Name</h3>
    <h2>car.Engine</h2>
    <span>@car.ID @car.Name @car.Engine @car.SeriesYear</span>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
